{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["eslint-config-airbnb", "prettier"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/no-array-index-key": 0
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
