{
  "env": {
    "browser": true
  },
  "extends": ["eslint-config-airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
