.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  .rates {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
