.table {
  color: rgba(216, 112, 147, 1);
  border-collapse: collapse;
  width: 100%;
  td {
    border: 2px solid rgba(216, 112, 147, 1);

    padding: 10px;
  }
  thead th {
    border: 2px solid rgba(216, 112, 147, 1);
    padding: 10px;

    font-size: 18px;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    width: 50%;
  }
  tbody tr > td {
    &:last-child {
      text-align: center;
    }
  }
  tbody tr {
    background-color: #fff;
    font-size: 14px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      transition: 0.3s;
    }
  }
}
